<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.zqb.ZDesk_server</string>
        <key>Program</key>
        <string>/Applications/ZDesk.app/Contents/MacOS/ZDesk</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        </dict>
        <key>AfterInitialDemand</key>
        <false />
    </dict>
    <key>ThrottleInterval</key>
    <integer>1</integer>
    <key>RunAtLoad</key>
    <true />
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/ZDesk.app/Contents/MacOS/ZDesk</string>
        <string>--server</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Applications/ZDesk.app/Contents/MacOS/</string>
        <key>ProcessType</key>
        <string>Interactive</string>
    </dict>
</plist>
