<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.zqb.ZDesk_service</string>
	<key>Program</key>
	<string>/Applications/ZDesk.app/Contents/MacOS/service</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
        <key>KeepAlive</key>
        <true/>
        <key>ThrottleInterval</key>
        <integer>1</integer>
        <key>ProgramArguments</key>
        <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>/Applications/ZDesk.app/Contents/MacOS/service</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>WorkingDirectory</key>
        <string>/Applications/ZDesk.app/Contents/MacOS/</string>
        <key>StandardErrorPath</key>
        <string>/tmp/zdesk_service.err</string>
        <key>StandardOutPath</key>
        <string>/tmp/zdesk_service.out</string>
    </dict>
</plist>
